.shop {
  padding: calc(60px) 0px;
}
.shop h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 52px;
  letter-spacing: 0em;
  line-height: 1em;
  text-transform: none;
}
.shop {
  position: relative;
  color: #ffffff; /* Text color */
  background-color: #f6f6f6;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/src/assets/banner.jpg") !important;
}
.shop .product-btn {
  color: white;
}
.shop-b {
  position: relative;
  z-index: 1; /* Set the z-index for the text */
}
.product-btn {
  border: 2px solid #e48a41;
  padding: 21px 34px;
  font-size: 13px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  background-color: transparent;
  margin: 30px auto;
}
.product-btn:hover {
  background-color: #e48a41;
  color: white;
}
.shop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 0;
}
.contact1 {
  text-transform: none !important;
  font-family: "Times New Roman", Times, serif;
}
.contact1 a {
  /* color: #000000 !important; */
  font-weight: 300;
  text-decoration: none;
}
.social-icons li {
  font-size: 22px;
  margin: 5px;
  padding: 0px;
}
.social-icons li .fa {
  color: white !important;
  padding: 9.5px;
}
.contact1 .social-icons li {
  border: none;
  margin: 0px !important;
}
.contact1 .social-icons li .fa {
  border-radius: 40px !important;
}
.contact1 .social-icons li {
  border: none;
  margin: 0px !important;
}
.contact1 .social-icons li .fa {
  border-radius: 40px !important;
}
.contact1 li .fa-facebook {
  border: 1px solid #3c5b9b;
  color: white !important;
  padding: 10px 10px !important;
  background-color: #3c5b9b;
}
.contact1 li .fa-twitter {
  border: 1px solid #41b2dc;
  color: white !important;
  background-color: #41b2dc;
}
.contact1 li .fa-instagram {
  border: 1px solid #e4405f;
  color: white !important;
  background-color: #e4405f;
}
.contact1 li .fa-youtube {
  border: 1px solid red;
  color: white !important;
  background-color: red;
}
.q-form input,
.q-form textarea {
  letter-spacing: 2px;
  font-size: 12px;
  color: hsl(0, 0%, 0%);
  font-family: "GothamMedium", Helvetica, Arial, sans-serif;
  padding-left: 30px;
  border: 2px solid rgb(202, 193, 193) !important;
  text-transform: uppercase !important;
  border-radius: 0px !important;
}
.q-form input {
  height: 65px !important;
}
.q-form {
  color: white;
  border: 2px solid white !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 25px;
  padding: 20px;
}
