/* body {
  background-color: rgb(241 241 241);
} */
.product-detail {
  background-color: rgb(0, 0, 0);
}
.product-detail .navbar a {
  color: rgb(255, 255, 255) !important;
}
.product-detail .navbar a:hover {
  color: crimson !important;
}
.sp {
  vertical-align: top;
}
.store-title {
  margin-left: 0;
}
.black {
  color: black !important;
}
.sp,
.product-tiles li a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
.product {
  text-align: left;
}
.productd {
  height: calc(600px);
  position: relative;
  overflow: hidden; /* Hide any overflow */
}
@media screen and (max-width: 992px) {
  .productd {
    height: calc(400px);
  }
}
.productd img {
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-height: 100%;
  object-fit: contain;
}
.card {
  border: none;
  border-radius: 0px !important;
}
.m2 {
  margin: 20px 0px;
  padding: 0px 20px;
}
.card h2 {
  font-size: 26px;
}
.cart-btn {
  padding: 18px 38px;
  /* font-size: 18px; */
  text-transform: uppercase;
  font-weight: 600 !important;
  background-color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
  color: azure;
}
.cart-btn:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}
.cart-btn-pad {
  padding: 10px calc(10px) !important;
}
